services:
  pgdatabase:
    image: postgres:13
    environment:
      - POSTGRES_USER=${PG_HOST}
      - POSTGRES_PASSWORD=${PG_PASSWORD}
      - POSTGRES_DB=${PG_DATABASE}
    volumes:
      - "./youtubeproject/Youtube-data-pipeline/postgresql/youtube-postgresdata:/var/lib/postgresql/data:rw"
    ports:
      - "5432:5432"
    networks:
      - airflow
  pgadmin:
    image: dpage/pgadmin4
    environment:
      - PGADMIN_DEFAULT_EMAIL=${PGADMIN_EMAIL}
      - PGADMIN_DEFAULT_PASSWORD=${PGADMIN_PASS}
    ports:
      - "8081:80" 
networks:
  airflow:
    external: true
    name: airflow_default

